#welcomeVideo {
	position: fixed;
	bottom:0;
	margin-bottom:0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
  z-index:-20;
}

.header{
	display: flex;
	min-height: 768px;
	min-width: 100%;
	align-items: center;
	background-color: rgba(0,0,0,0.4);
}

.title{
	font-size: 4em;
	color:white;
}

.slogan{
	color:white;
}